<launch>
    <node name="joy" pkg="joy" type="joy_node" output="screen"/>
    <node name="minitaur_teleop" pkg="minitaur_teleop" type="command_publisher.py" output="screen">
        <remap from="/set_behaviorId" to="/minitaur/command/behaviorId"/>
        <remap from="/set_behaviorMode" to="/minitaur/command/behaviorMode"/>
        <remap from="/set_twist" to="/minitaur/command/cmd_vel"/>
    </node>
</launch>
